<h3>In Soviet Russia Bee Baste 's You</h3>
<p>All of our <% if @category.name == 'Other' %>
<%= @category.name + ' Products'%>
<%else%>
<%= @category.name%>
<% end %></p>


<%= render 'products_partial'%>
